<h1>What's the recipe ?</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>

  <%= f.association :ingredient %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>

<p><%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail) %></p>
